{% extends 'users/usercenter-base.html' %}
{% load staticfiles %}
{% block title %}我的消息- 谷粒教育网{% endblock %}
{% block right %}
     <div class="right" >
		<div class="personal_des Releasecont">
			<div class="head">
				<h1>我的消息</h1>
			</div>

		</div>
		<div class="personal_des permessage">
			<div class="head">
				<ul class="tab_header messagehead">
					<li class="active"><a href="{% url 'users:user_message' %}">个人消息</a> </li>
				</ul>


			</div>
			<div class="messagelist">
                    {% for message in pages %}
                         <div class="messages" message_id="{{ message.id }}">
                        <div class="fr">
                            <div class="top"><span class="fl time">{{ message.create_time }}</span><span class="fr btn foldbtn"></span></div>
                            <p {% if message.message_status == False %}style="color: #2b333b" {% endif %}>
                                {{ message.message_content }}
                            </p>
                        </div>
                    </div>
                    {% endfor %}
			</div>
		      <div class="pageturn pagerright">
                        <ul class="pagelist">
                            {% if pages.has_previous %}
                                <li class="long"><a
                                        href="?pagenum={{ pages.previous_page_number }}">上一页</a>
                                </li>
                            {% endif %}
                            {% for num in pages.paginator.page_range %}
                                <li {% if num == pages.number %}class="active"{% endif %}/>
                                <a href="?pagenum={{ num }}">{{ num }}</a>
                                </li>
                            {% endfor %}
                            {% if pages.has_next %}
                                <li class="long"><a
                                        href="?pagenum={{ pages.next_page_number }}">下一页</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
        </div>

	</div>
{% endblock %}

{% block user %}{% endblock %}


{% block myjs1 %}

     <script>
       {#点击查看消息后 修改其状态#}
        $(function () {
             $(".messages").click(function () {
                  var  messageId = $(this).attr('message_id')
                  $.ajax({
                      type: 'GET',
                      url: '{% url 'users:update_user_message_status' %}',
                      data: {
                          'messageId': messageId
                      },
                      success:function (callback) {
                          if (callback.status == 'ok'){
                               window.location.reload()
                          }else{
                               alert(callback.msg)
                          }
                      }
                  })
             })
        })
     </script>

{% endblock %}
